---
interface Props {
	product: string;
	body: string;
	img: string;
}

const { img, product, body } = Astro.props;
---

<div class="relative w-[375px]">
	<a href="#">
		<img src=`${img}` alt="" class="rounded-3xl">
	</a>
	<a href="#" class="absolute text-white bottom-[100px] right-[30px] z-10 text-4xl uppercase font-semibold">{product}</a>
	<a href="#" class="absolute bottom-0 right-0 p-5 bg-fuchsia-400 text-white text-xl rounded-3xl rounded-tr-none rounded-bl-none hover:bg-fuchsia-600">
		{body}
	</a>
</div>


