---
import FloatingMenuIcon from "./FloatingMenuIcon.astro"
---
<div class="fixed bg-fuchsia-800 text-white opacity-80 size-20 flex items-center justify-center origin-center rotate-[67deg] rounded-2xl top-0 right-0 z-50 md:rotate-0 md:w-36 md:h-12 md:flex md:flex-row md:rounded-tl-none md:rounded-tr-none md:right-36 md:items-center md:opacity-100 md:shadow-md md:shadow-[#4c4c4c] transition hover:scale-110">
    <div class="flex items-center flex-col origin-center -rotate-[67deg] absolute left-6 right-6 top-4 md:static md:rotate-0 md:flex md:flex-row md:items-center md:justify-center md:h-full">
        <span class="text-2xl text-white">Menú</span>
        <FloatingMenuIcon class="size-6">
    </div>
</div>