---
import HomeIcon from "./HomeIcon.astro";
import LikesIcon from "./LikesIcon.astro";
import SearchIcon from "./SearchIcon.astro";
---

<div class="h-16 w-[80%] flex items-center justify-around fixed bottom-10 left-[50%] rigth-[50%] translate-x-[-50%] translate-y-[50%] bg-fuchsia-500 text-white rounded-[40px] z-50">
    <HomeIcon class="size-8"></HomeIcon>
    <SearchIcon class="size-8"></SearchIcon>
    <LikesIcon class="size-8"></LikesIcon>
</div>