<nav class="hidden md:block">
    <ul class=" flex flex-row justify-evenly items-center bg-fuchsia-500 *:text-white *:text-xl *:font-semibold h-12">
        <li class="transition hover:scale-125">
            <a href="#">Producto</a>
        </li>
        <li class="transition hover:scale-125">
            <a href="#">Producto</a>
        </li>
        <li class="transition hover:scale-125">
            <a href="#">Producto</a>
        </li>
        <li class="transition hover:scale-125">
            <a href="#">Producto</a>
        </li>
        <li class="transition hover:scale-125">
            <a href="#">Producto</a>
        </li>
        <li class="transition hover:scale-125">
            <a href="#">Producto</a>
        </li>
        <li class="transition hover:scale-125">
            <a href="#">Producto</a>
        </li>
    </ul>
</nav>


