---
interface Props {
	title: string;
}

const { title } = Astro.props;

import SearchBar from "../components/SearchBar.astro"
import FloatingDock from "../components/FloatingDock.astro";
import FloatingMenu from "../components/FloatingMenu.astro";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="m-0 p-0 pb-20">
		<header class="bg-fuchsia-700 w-full h-64 flex items-center justify-center flex-col gap-5">
			<img src="../../public/catLogo.jpg" alt="Logo de Un gato" class="h-28 w-72">
			<SearchBar/>
		</header>
		<Navigation/>
		<FloatingMenu/>
		<slot />
		<FloatingDock/>
	</body>
</html>


<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700;800;900&display=swap');

	body{
		font-family: 'Onest', sans-serif;;
	}

</style>
